<div class="form-container">
    <form class="form" [formGroup]="formData2">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" pInputText class="w-full"
                placeholder="Enter your email" formControlName="email" (change)="validationEmail2()">
        </div>
        <div class="form-group">
            <label for="email">New Password</label>
            <p-password id="password2" placeholder="Enter your Password" type="password" formControlName="password"
                (change)="validationPassword2()" [toggleMask]="true" inputStyleClass="w-full"></p-password>
        </div>
        <div class="form-group">
            <label for="email">Confirm New Password</label>
            <p-password id="confirmPassword" placeholder="Enter again Password" type="password"
                formControlName="confirmPassword" (change)="validationConfirmPassword()" [toggleMask]="true"
                inputStyleClass="w-full"></p-password>
        </div>
        <button class="form-submit-btn" type="submit" (click)="onSubmit2('null')">Send OTP</button>
    </form>
</div>
<app-otp-code [isOtpVisible]="isOtpVisible" (closeSpinner)="closeSpinner()" (submitSpinner)="onSubmit2($event)"
    (resendOTP)="sendOTP()">
</app-otp-code>
<app-loading></app-loading>